extends layout

block content
  h1= title
  p Welcome to #{title}
  p 
  a(href="/api-docs") Click here for API Documentataion 
  
  p 
  
  a(href="https://github.com/charan379/tmdb-api-wrapper") See On Git Hub
